# Dependencies
node_modules/
.pnp/
.pnp.js
.npmrc
yarn-error.log
ncc-cache/
yarn--**
v8-compile-cache-**

# Build directories and files
lib/
esm/
es/
dist/
coverage/
docs-dist/
.next/
out/
build/
.playwright/
.vscode/
.idea/
.DS_Store
*.sqlite
*.pem
*.nbdump

# Temporary and cache files
.umi/
.umi-production/
.npmrc
/cache/diskstore-*
/storage/duplicator/*
/storage/backups/*
/storage/plugins/
/storage/tar/
/storage/tmp/
/storage/app.watch.ts
/storage/logs-e2e/
/storage/uploads-e2e/
/storage/.pm2-*
docker/**/storage
tsconfig.paths.json

# Test-related files
.env.test
.env.e2e
.env.test.local
mock/plantuml/
!/mock/plantuml/

# Local env files
.env
.env.local
.env.development.local
.env.production.local
.env.e2e

# Logs
lerna-debug.log

# Git a
